
@{
    List<Comentario> comentarios = ViewData["COMENTARIOS"] as List<Comentario> ?? new List<Comentario>() ;

    
    Camiseta camiseta = ViewData["CAMISETA"] as Camiseta;
}

<div class="container mt-4">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Publicacion</h5>
             @*<button class="btn btn-outline-primary">❤️</button>*@
        </div>
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/jersey/@camiseta.Imagen" class="img-fluid rounded-start" alt="Camiseta de fútbol">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@camiseta.Equipo @camiseta.Year</h5>
                    <p class="card-text"><strong>Equipo:</strong> @camiseta.Equipo</p>
                    <p class="card-text"><strong>Pais:</strong>@camiseta.Pais.NombrePais</p>
                    <p class="card-text">
                        <strong>Marca:</strong> @camiseta.Marca
                    </p>
                    <p class="card-text">
                        <strong>Equipacion:</strong> @camiseta.Equipacion
                    </p>
                    <p class="card-text">
                        <strong>Condicion:</strong> @camiseta.Condicion
                    </p>
                    @if(camiseta.Dorsal!=null){
                        <p class="card-text">
                            <strong>Dorsal:</strong> @camiseta.Dorsal
                        </p>
                    }
                    @if(camiseta.Jugador!=null){
                        <p class="card-text">
                            <strong>Jugador:</strong> @camiseta.Jugador
                        </p>
                    }
                    <p class="card-text">
                        <strong>Fecha:</strong> @camiseta.FechaSubida.ToShortDateString()
                    </p>
                    @* ETIQUETAS *@
                    <p class="card-text"><span class="badge bg-success">Firmada</span> <span class="badge bg-warning">Usada en partido</span></p>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <h6>Comentarios</h6>
            <div class="list-group">
                @if (comentarios != null || comentarios != null)
                {
                    @foreach (Comentario comentario in comentarios)
                    {
                        <div class="list-group-item d-flex align-items-start">
                            <img src="~/avatar/@comentario.Usuario.Avatar" class="rounded-circle me-2" width="40" height="40" alt="Usuario">
                            <div>
                                <h6 class="mb-0">@comentario.Usuario.IdUsuario</h6>
                                <p class="mb-0">@comentario.ComentarioTxt</p>
                            </div>
                        </div>
                    }
                }
                
                
            </div>
            <div class="mt-3 input-group">
                <form method="post" asp-action="DetallesCamiseta" asp-route-idCamiseta="@camiseta.IdCamiseta">
                    <input type="text" class="form-control" name="texto" placeholder="Añadir un comentario...">
                    <button class="btn btn-outline-secondary">
                        Comentar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
